* {
  font-family: "Hind Siliguri", sans-serif;
  font-family: "Space Grotesk", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.userCard {
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  border: 1px solid#e7e4e4;
  height: 400px;
}

.userPhoto img {
  margin: 0 auto;
  width: 75%;
  height: 75%;
}

.asideInfo {
  display: inline-block;
  width: 30%;
  padding: 30px;
  background-image: linear-gradient(
    to top left,
    rgb(134, 25, 230),
    rgb(125, 40, 228),
    rgb(115, 56, 226),
    rgb(106, 71, 224),
    rgb(97, 86, 222),
    rgb(87, 102, 220),
    rgb(78, 117, 219),
    rgb(68, 133, 217),
    rgb(59, 148, 215),
    rgb(50, 163, 213),
    rgb(40, 179, 211),
    rgb(31, 194, 209)
  );

  height: 100%;
}

.userName p {
  text-align: center;
  margin-top: 10px;
  color: #dff9fa;
  font-weight: bold;
  font-size: 20px;
}

.userSpecialty {
  color: #dff9fa;
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
}

.mainInfo {
  width: 69%;
  display: inline-block;
  vertical-align: top;
  padding: 30px 20px 30px 20px;
}

.userInformation h3 {
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(22, 20, 20, 0.308);
}

.userInfoData {
  padding-top: 10px;
}

.userEmail {
  display: inline-block;
  width: 49.3%;
}
.userInfoData p,
.userInfoProjects p {
  margin-top: 5px;
}
.userPhone {
  display: inline-block;
  width: 49.4%;
}

.userProjects {
  padding-top: 40px;
}

.userProjects h3 {
  letter-spacing: 10px;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(22, 20, 20, 0.308);
}

.userInfoProjects {
  padding-top: 10px;
}

.userRecents {
  display: inline-block;
  width: 49.3%;
}

.userMostViewed {
  display: inline-block;
  width: 49.4%;
}

.userSocial {
  width: 100%;
  padding-top: 40px;
}

.userSocial button {
  background-image: linear-gradient(
    to top left,
    rgb(134, 25, 230),
    rgb(125, 40, 228),
    rgb(115, 56, 226),
    rgb(106, 71, 224),
    rgb(97, 86, 222),
    rgb(87, 102, 220),
    rgb(78, 117, 219),
    rgb(68, 133, 217),
    rgb(59, 148, 215),
    rgb(50, 163, 213),
    rgb(40, 179, 211),
    rgb(31, 194, 209)
  );
  height: 50px;
  width: 50px;
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid rgba(122, 43, 227, 1);
}
